---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
import { Prism } from "@astrojs/prism";
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Publicado en {frontmatter.pubDate.toString().slice(0, 10)}</p>
  <p>Escrito por {frontmatter.author}</p>
  <p>{frontmatter.description}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

  <div class="tags">
    {
      frontmatter.tags.map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</BaseLayout>

<style>
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-x: auto;
  }
</style>
